
/* General */

* {
  border-radius: 0 !important;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a, input, button, select, textarea {
  font-family: 'Roboto', sans-serif;
  color: #555;
}

/* helpers */

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

/* fade */

.fade {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.fade.on {
  opacity: 1;
}

/* loadings */

.load-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #fdba2c;
  overflow: hidden;
  z-index: 9999999;
}

.topbar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.topbar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}

.topbar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}

.topbar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
  from {left: 50%; width: 0;z-index:100;}
  33.3333% {left: 0; width: 100%;z-index: 10;}
  to {left: 0; width: 100%;}
}
