<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">LOGIN</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">CANCEL</button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        <h2>Authorization Error</h2>
        <p>
          You are intending to access a protected resource, login with your credentials to perform
          this action. <b>Note:</b> login will persist in this browser so you will not need to enter your credentials again
        </p>
      </div>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model="loginForm.email" type="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input ng-model="loginForm.password" type="password">
      </label>
      <button class="button button-full button-stable no-margin-top no-margin-bottom" ng-click="login()">SEND</button>
    </div>
  </ion-content>
</ion-modal-view>
