<ion-view view-title="DASHBOARD">
  <ion-content>
    <div class="list">
      <div ng-repeat="resource in resources track by $index">
        <div class="item item-divider">{{ resource.title | capitalize }}</div>
        <div class="item" ng-repeat="field in resource.fields track by $index">
          <p>{{ field.title | capitalize }}</p>
          <p>Type: <small>{{ field.type }}</small></p>
          <p>Validation rules: <small>{{ field.rules.split('|').join(', ') }}</small></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
