<ion-view view-title="{{ selectedResource | uppercase }}">
  <ion-content>
    <div class="list">
      <label class="item item-divider item-input item-select">
        <div class="input-label">
          Show by key:
        </div>
        <select ng-model="showingField" ng-options="field.title as field.title for field in getResourceFields(selectedResource)">
        </select>
      </label>

      <a class="item " ng-repeat="item in results track by $index">
        <b>{{ item.id }}. </b>
        {{ item[showingField] }}
        <span class="item-note">{{ item.created_at | toDate | date: 'dd/MM/yyyy' }}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
