<ion-view view-title="SETTINGS">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        <h2>Instructions</h2>
        <p>
          You must enter a valid url where a valid restup-api project is hosted
        </p>
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Client url</span>
        <input ng-model="form.webUrl" type="text" placeholder="http://yourrestapiendpoint.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Endoint url</span>
        <input ng-model="form.apiUrl" type="text" placeholder="http://yourrestapiendpoint.com">
      </label>
      <button ng-click="save()" class="button button-block button-stable no-margin-top">
        SAVE
      </button>
    </div>
  </ion-content>
</ion-view>
